In [3]:
!ls

Untitled.ipynb   evaluator.py     models           tmp
__pycache__      logger.py        optimizer.py     utils
configuration.py main.py          parser.py
dataset          model.py         preprocessor.py

In [4]:
!cd dataset && ls

database                new_data.xls
dates_dataset_raw.csv   protein_dataset_raw.csv

In [96]:
!cd dataset/database && ls

kuban-meteo.csv          kuban-srad_1.csv         push-srad_1.csv
kuban-meteo_formated.csv kuban-srad_formated.csv  pushkin-meteo.csv
kuban-srad.csv           kuban.csv                pushkin-srad.csv

In [8]:
import time
import datetime

In [15]:
import numpy as np
import pandas as pd

Kuban merge to fat-table

In [91]:
kuban_srad = pd.read_csv('dataset/database/kuban-srad.csv', sep=';', parse_dates=True)
kuban_srad.columns = ['Date', 'All sky', 'Clear sky']
kuban_srad['Date'] = kuban_srad['Date'].apply(
    lambda x: datetime.datetime.strptime(test_date, '%d/%m/%Y'))
kuban_srad.set_index('Date', inplace=True)
kuban_srad.head(3)

            All sky  Clear sky
Date
2004-01-01     6.31       1.91
2004-01-01     6.12       1.86
2004-01-01     5.88       1.88

In [84]:
kuban_srad.to_csv('dataset/database/kuban-srad_formated.csv')

In [92]:
kuban_meteo = pd.read_csv('dataset/database/kuban-meteo.csv', parse_dates=[[0, 1, 2]])
kuban_meteo.columns = ['Date', 'T_min', 'T_max', 'Precipitation']
kuban_meteo.set_index('Date', inplace=True)
kuban_meteo.head(10)

            T_min  T_max  Precipitation
Date
2004-01-01   -4.1    4.7            0.0
2004-01-02   -2.9    5.4            0.0
2004-01-03    0.5    6.6            0.0
2004-01-04    2.2    9.4            0.3
2004-01-05    3.8    8.8            3.1
2004-01-06    2.7    9.1            1.8
2004-01-07    1.1    5.2            1.9
2004-01-08    0.2    2.6           10.6
2004-01-09   -2.1    4.8            0.0
2004-01-10    0.0    5.2            0.5

In [85]:
kuban_meteo.to_csv('dataset/database/kuban-meteo_formated.csv')

In [88]:
kuban = kuban_meteo.merge(kuban_srad, on='Date')
kuban.head(3)

            T_min  T_max  Precipitation  All sky  Clear sky
Date
2004-01-01   -4.1    4.7            0.0     6.31       1.91
2004-01-01   -4.1    4.7            0.0     6.12       1.86
2004-01-01   -4.1    4.7            0.0     5.88       1.88

In [94]:
kuban.to_csv('dataset/database/kuban.csv')

Pushkin merge to fat-csv

In [101]:
pushkin_srad = pd.read_csv('dataset/database/pushkin-srad.csv', sep=';')
pushkin_srad.columns = ['Date', 'All sky', 'Clear sky']
pushkin_srad['Date'] = pushkin_srad['Date'].apply(
    lambda x: datetime.datetime.strptime(test_date, '%d/%m/%Y'))
pushkin_srad.set_index('Date', inplace=True)
pushkin_srad.head(3)

            All sky  Clear sky
Date
2004-01-01     5.54       0.37
2004-01-01     4.39       0.39
2004-01-01     5.29       0.41

In [102]:
pushkin_srad.to_csv('dataset/database/pushkin-srad_formated.csv')

In [103]:
pushkin_meteo = pd.read_csv('dataset/database/pushkin-meteo.csv', parse_dates=[[0, 1, 2]])
pushkin_meteo.columns = ['Date', 'T_min', 'T_max', 'Precipitation']
pushkin_meteo.set_index('Date', inplace=True)
pushkin_meteo.head(10)

            T_min  T_max  Precipitation
Date
2004-01-01   -6.9   -2.1            0.4
2004-01-02  -10.9   -6.0            1.4
2004-01-03  -14.5   -8.2            0.0
2004-01-04  -14.9  -10.5            0.0
2004-01-05  -14.5   -4.3            0.2
2004-01-06  -10.5   -5.0            0.3
2004-01-07  -11.2   -6.3            0.8
2004-01-08  -16.2  -10.8            0.0
2004-01-09  -17.3  -12.6            0.0
2004-01-10  -18.9  -10.1            0.0

In [104]:
pushkin_meteo.to_csv('dataset/database/pushkin-meteo_formated.csv')

In [106]:
pushkin = pushkin_meteo.merge(pushkin_srad, on='Date')
pushkin.head(5)

            T_min  T_max  Precipitation  All sky  Clear sky
Date
2004-01-01   -6.9   -2.1            0.4     5.54       0.37
2004-01-01   -6.9   -2.1            0.4     4.39       0.39
2004-01-01   -6.9   -2.1            0.4     5.29       0.41
2004-01-01   -6.9   -2.1            0.4     5.25       0.41
2004-01-01   -6.9   -2.1            0.4     4.42       0.41

In [107]:
pushkin.describe()

              T_min         T_max  Precipitation      All sky   Clear sky
count  1.096000e+03  1.096000e+03   1.096000e+03  1096.000000  1096.00000
mean  -6.900000e+00 -2.100000e+00   4.000000e-01     6.907527     3.96448
std    1.323990e-13  4.354061e-14   7.164208e-15     1.184129     2.77626
min   -6.900000e+00 -2.100000e+00   4.000000e-01     4.120000     0.31000
25%   -6.900000e+00 -2.100000e+00   4.000000e-01     5.930000     1.16000
50%   -6.900000e+00 -2.100000e+00   4.000000e-01     6.875000     3.85000
75%   -6.900000e+00 -2.100000e+00   4.000000e-01     7.902500     6.66000
max   -6.900000e+00 -2.100000e+00   4.000000e-01     9.270000     8.79000

In [108]:
pushkin.to_csv('dataset/database/pushkin.csv')